* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #8edede;
    grid-area: header;
}
.nav {
    background-color: #f4d388;
    grid-area: nav;
}
.main-content {
    background-color: #fffee6;
    grid-area: content;
}
.footer {
    background-color: #99b1e5;
    grid-area: footer;
}



.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 170px 2fr 50px;
    grid-template-columns: minmax(30px, 250px) 2fr;
    grid-template-areas:
    "nav header"
    "nav content"
    "footer footer";
}


.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}




.nav {
    display: grid;
    grid-template-rows: 110px 1fr 2fr;
    padding-left: 15px;
}
.nav-header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.nav-header img {
    width: 50px;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.primary-links, .secondary-links {
    padding-top: 10px;
}
.list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}
.list-item img {
    width: 30px;
}





.news-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.announcement {
    padding: 15px 10px;
    border-bottom: 1px solid black;
}
.announcement p:first-child {
    font-weight: bold;
}
.announcement:last-child {
    border-bottom: none;
    padding-bottom: 5px;
}

.trend-container {
    display: flex;
    flex-direction: column;
}
.trend-container img {
    width: 30px;
}

.trend-item {
    display: grid;
    grid-template-columns: 35px 2fr;
    align-items: center;
    padding: 15px 10px;
    font-size: .9rem;
}
.trend-item p:first-of-type {
    font-weight: bold;
}


.announcements-container, .trend-container {
    background-color: #fce5bb;
}