:root {
    --light: #fffee6;
    --dark: #4f4869;
    --blue: #8edede;
    --yellow: #f4d388;
    --orange: #e59058;
    --beige: #fce5bb;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #8edede;
    grid-area: header;
}
.nav {
    background-color: #f4d388;
    grid-area: nav;
}
.main-content {
    background-color: #fffee6;
    grid-area: content;
}
.footer {
    background-color: #99b1e5;
    grid-area: footer;
}



.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 170px 2fr 50px;
    grid-template-columns: minmax(30px, 250px) 2fr;
    grid-template-areas:
    "nav header"
    "nav content"
    "footer footer";
}


.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}




.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px 40px;
    align-items: center;
    padding: 10px;
    row-gap: 5px;
}
.header img {
    width: 30px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.search-container input {
    outline: none;
    appearance: none;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 5px 10px;
}

.user-nav {
    display: flex;
    justify-content: end;
    padding-right: 30px;
    gap: 18px;
}
.user-nav h2 {
    font-size: 1rem;
}

.welcome-banner {
    display: flex;
    gap: 5px;
    align-items: center;
}
.welcome-banner h1 {
    font-size: 1.8rem;
}
.welcome-banner img {
    width: 70px;
}

.btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btns-container button {
    appearance: none;
    border: none;
    border-radius: 15px;
    padding: 8px 25px;
    width: 33%;
}




.nav {
    display: grid;
    grid-template-rows: 110px 1fr 2fr;
    padding-left: 15px;
}
.nav-header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.nav-header img {
    width: 50px;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.primary-links, .secondary-links {
    padding-top: 10px;
}
.list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}
.list-item img {
    width: 30px;
}



.project-section h2 {
    padding: 10px 0 10px 20px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 20px;
    padding: 0 20px
}
.project {
    padding: 20px;
    border-radius: 15px;
    background-color: var(--beige);
}







.news-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 10px;
}

.announcement-section h2 {
    padding: 10px 0px;
}

.announcement {
    padding: 15px 10px;
    border-bottom: 1px solid var(--dark);
}
.announcement p:first-child {
    font-weight: bold;
}
.announcement:last-child {
    border-bottom: none;
    padding-bottom: 5px;
}

.trend-section h2 {
    padding-bottom: 10px;
}

.trend-container {
    display: flex;
    flex-direction: column;
}
.trend-container img {
    width: 30px;
}

.trend-item {
    display: grid;
    grid-template-columns: 35px 2fr;
    align-items: center;
    padding: 15px 10px;
    font-size: .9rem;
}
.trend-item p:first-of-type {
    font-weight: bold;
}


.announcements-container, .trend-container {
    border-radius: 15px;
    background-color: var(--beige);
}